[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
Type=simple
User=nobody
ExecStart=/usr/local/bin/node_exporter \
  --collector.filesystem \
  --collector.cpu \
  --collector.meminfo \
  --collector.diskstats \
  --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|run)($|/)

Restart=on-failure

[Install]
WantedBy=multi-user.target
